backend/node_modules/
frontend/node_modules/

# Env files
backend/.env
frontend/.env

backend/package-lock.json
frontend/package-lock.json

# Build outputs
backend/dist/
frontend/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor junk
.DS_Store
.idea/
.vscode/

# Coverage/test
coverage/
